@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Playfair+Display:ital,wght@1,900&display=swap');
@import "tailwindcss";

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    background-color: #f8fafc;
    font-family: var(--font-sans);
    color: rgb(15 23 42);
  }
}

.svg-chart-container,
.svg-chart-container > svg {
  height: 100% !important;
  width: 100% !important;
}
